* {
    box-sizing: border-box;
}
body {
    margin: 0;
}

header {
    width: 90%;
    height: 120px;
    border: solid 2px black;
    background-color: red;
    box-sizing: border-box;
    margin: auto;
}
.content {
    width: 50%;
    min-height: 450px;
    background-color: beige;
    margin: auto;
    border: solid 2px violet;
}
footer {
    width: 90%;
    height: 50px;
    border: solid 2px black;
    background-color: red;
    box-sizing: border-box;
    margin: auto;
}

@media screen and (max-width: 600px) {
    header {
        background-color: blueviolet;
    }    
}

@media screen and (min-width: 1300px) {
    header {
        background-color: brown;
    }
}