.container{
    border: solid 2px black;
    height: 500px;
    width: 900px;
    background-color: rgb(202, 200, 200);
    position: relative;
}

.div-1 {
    border: none;
    width: 150px;
    height: 150px;
    background-color: red;
    position: relative; bottom: 450px; left: 50px;
}
.div-2 {
    border: none;
    width: 150px;
    height: 150px;
    background-color: green;
    position: relative; bottom: 520px; left: 125px;
}
.div-3 {
    border: none;
    width: 150px;
    height: 150px;
    background-color: blue;
    position: relative; bottom: 590px; left: 200px;
}
.div-4 {
    border: none;
    width: 150px;
    height: 150px;
    background-color: yellow;
    position: relative; bottom: 650px; left: 275px;
}

.container-2 {
    border: solid 2px black;
    width: 1050px;
    height: 500px;
    position: relative;
    background-color: rgb(201, 193, 193);
}
.image-1 {
    width: 200px;
    height: 200px;
    position: absolute; right: 0;
}
.image-2 {
    width: 200px;
    height: 200px;
    position: absolute; bottom: 0; left: 0;
}
.image-3 {
    width: 200px;
    height: 200px;
    position: absolute; bottom: 0; right: 0;
}
.image-4 {
    width: 200px;
    height: 200px;
    position: absolute; bottom: auto; left: 0;
}
.image-4-1 {
    width: 150px;
    height: 150px;
    position: relative; left: 160px; top: 30px;
}
.image-1-1 {
    width: 150px;
    height: 150px;
    position: relative; left: 40px; top: 80px;
}
.image-3-1 {
    width: 150px;
    height: 150px;
    position: relative; right: 80px; top: 130px;
}
.image-2-1 {
    width: 150px;
    height: 150px;
    position: relative; right: 200px; top: 180px;
}
.image-4-2 {
    width: 150px;
    height: 150px;
    position: relative; right: 200px; top: 180px;
    z-index: 4;
}
.image-1-2 {
    width: 150px;
    height: 150px;
    position: relative; right: 310px; top: 130px;
    z-index: 3;
}
.image-3-2 {
    width: 150px;
    height: 150px;
    position: relative; left: 200px; bottom: 75px;
    z-index: 2;
}
.image-2-2 {
    width: 150px;
    height: 150px;
    position: relative; left: 100px; bottom: 125px;
    z-index: 1;
}