.form-1 {
    border: solid 2px black;
    width: 65%;
    min-height: 300px;
    margin: 20px auto;
    box-sizing: border-box;
    padding: 20px;
}
.input-1 {
    background-color: red;
    padding: 4px;
    border: 0px;
    border-bottom: solid 3px black;
    border-bottom-left-radius: 10px;
}
.input-1:focus {
    background-color: green;
    outline: none;
}
.button-1:hover {
    background-color: red;
}