.div-1 {
    border: solid 1px black;
    width: 400px;
    height: 380px;
    margin: auto;
    background-color: rgb(236, 240, 241);
    border-top: none;
    border-right: none;
    border-bottom: solid 2px black;
}
.div-1 input {
    margin-left: 50px;
    margin-bottom: 15px;
    position: relative; top: 20px;
    box-sizing: border-box;
    padding: 16px;
    width: 300px;
    border-radius: 5px 5px 5px 5px;
    border: solid 1px rgb(187, 187, 187);
}
.div-2 button {
    position: relative; left: 50px; top: 40px;
    background-color: rgb(231, 76, 70);
    color: white;
    width: 300px;
    height: 50px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px 5px 5px 5px;
    border: none;
    font-size: 20px;
    cursor: pointer;
}
.div-1 p {
    position: relative; left: 160px; top: 30px;
    font-size: 40px;
    color: rgb(0, 0, 0);
    font-style: normal;
}
.div-1 a {
    color: rgb(52, 163, 225);
    position: relative; left: 95px; top: 65px;
}
input::placeholder {
    font-size: 20px;
}
.box-1 {
    border: solid 1px black;
    width: 800px;
    height: 660px;
    margin: auto;
}
.box-2 {
    border: solid 1px black;
    width: 790px;
    height: 650px;
    margin: auto;
    margin-top: 3px;
}
.p-1 {
    color: rgb(117, 117, 117);
    font-size: 27px;
    position: relative; bottom: 20px; left: 20px;
}
.p-2 {
    color: rgb(117, 117, 117);
    font-size: 19px;
    margin-left: 60px;
    margin-top: 60px;
}
.p-3 {
    color: rgb(117, 117, 117);
    font-size: 19px;
    margin-left: 60px;
    margin-top: 60px;
}
.p-4 {
    color: rgb(117, 117, 117);
    font-size: 19px;
    margin-left: 60px;
    margin-top: 60px;
}
.p-5 {
    color: rgb(117, 117, 117);
    font-size: 19px;
    margin-left: 60px;
    margin-top: 60px;
}
.p-6 {
    color: rgb(117, 117, 117);
    font-size: 19px;
    margin-left: 60px;
    margin-top: 60px;
}
.input-1 {
    border: none;
    margin-left: 160px;
    position: relative; bottom: 390px;
    padding: 5px;
    box-sizing: border-box;
}
.hr-1 {
    width: 600px;
    position: relative; bottom: 392px; 
    margin-left: 164px;
}
.input-2 {
    border: none;
    margin-left: 160px;
    position: relative; bottom: 350px;
    padding: 5px;
    box-sizing: border-box;
}
.hr-2 {
    width: 600px;
    position: relative; bottom: 352px;
    margin-left: 164px;
}
.input-3 {
    border: none;
    margin-left: 160px;
    position: relative; bottom: 310px;
    padding: 5px;
    box-sizing: border-box;
}
.hr-3 {
    width: 600px;
    position: relative; bottom: 312px;
    margin-left: 164px;
}
.input-4 {
    border: none;
    margin-left: 160px;
    position: relative; bottom: 270px;
    padding: 5px;
    box-sizing: border-box;
}
.hr-4 {
    width: 600px;
    position: relative; bottom: 272px;
    margin-left: 164px;
}
.textarea-1 {
    width: 600px;
    margin-left: 160px;
    position: relative; bottom: 230px;
    border: none;
    resize: none;
}
.hr-5 {
    width: 600px;
    position: relative; bottom: 232px;
    margin-left: 164px;
}
.span-1 {
    font-size: 27px;
    font-weight: bolder;
    color: rgb(146, 149, 154);
    position: relative; bottom: 850px; left: 740px;
}
.container-1 {
    border: solid 1px rgb(131, 228, 131);
    width: 1000px;
    height: 660px;
    background-color: rgb(239, 252, 239);
    border-radius: 5px 5px 5px 5px;
    margin: auto;
}
.container-1 input {
    margin-left: 30px;
    position: relative; top: 30px;
    width: 400px;
    padding: 10px;
    border-radius: 5px 5px 5px 5px;
    border: solid 1px gray;
}
.textarea-2 {
    margin-left: 30px;
    position: relative; top: 31px;
    border: solid 1px gray;
    width: 400px;
    padding: 10px;
    border-radius: 5px 5px 5px 5px;
}
.textarea-2::placeholder {
    font-size: 17px;
    font-weight: bolder;
}
.p-7 {
    font-weight: bolder;
    position: relative; left: 490px; bottom: 315px;
    font-size: 20px;
}
.radio-1 {
    position: relative; left: 270px; bottom: 340px;
}
.p-8 {
    position: relative; left: 513px; bottom: 367px;
}
.p-9 {
    position: relative; left: 513px; bottom: 380px;
}
.p-10 {
    font-weight: bolder;
    font-size: 20px;
    position: relative; left: 490px; bottom: 380px;
}
.checkbox-1 {
    position: relative; left: 270px; bottom: 410px;
}
.checkbox-2 {
    position: relative; left: 270px; bottom: 410px;
}
.checkbox-3 {
    position: relative; left: 270px; bottom: 410px;
}
.checkbox-4 {
    position: relative; left: 270px; bottom: 410px;
}
.checkbox-5 {
    position: relative; left: 270px; bottom: 410px;
}
.p-11 {
    position: relative; left: 513px; bottom: 495px;
}
.p-12 {
    position: relative; left: 513px; bottom: 509px;
}
.p-13 {
    position: relative; left: 513px; bottom: 523px;
}
.p-14 {
    position: relative; left: 513px; bottom: 537px;
}
.p-15 {
    position: relative; left: 513px; bottom: 551px;
}
.p-16 {
    font-weight: bolder;
    font-size: 20px;
    position: relative; left: 490px; bottom: 545px;
}
.checkbox-6 {
    position: relative; left: 270px; bottom: 570px;
}
.checkbox-7 {
    position: relative; left: 270px; bottom: 570px;
}
.p-17 {
    position: relative; left: 513px; bottom: 595px;
}
.p-18 {
    position: relative; left: 513px; bottom: 609px;
}
.hr-6 {
    width: 930px;
    position: relative; bottom: 580px;
    border: solid 1px rgb(118, 207, 118)
}
.button-2 {
    position: relative; left: 350px; bottom: 550px;
}
.btn-2 {
    background-color: rgb(118, 207, 118);
    color: white;
    border: none;
    width: 300px;
    height: 50px;
    border-radius: 5px;
    font-size: 20px;
}
.div-3 {
    border: solid 1px black;
    width: 1200px;
    height: 150px;
    margin: auto;
    border-bottom: none;
    background-image: linear-gradient(to right, red, black);
}
.div-4 {
    border: solid 1px black;
    width: 1200px;
    height: 50px;
    margin: auto;
    background-image: linear-gradient(to right, black, red);
}
.baby-1 {
    border: none;
    width: 200px;
    height: 50px;
    border-right: solid 1px black;
    background-image: linear-gradient(to right, black, red);
}
.baby-2 {
    border: none;
    width: 200px;
    height: 50px;
    border-right: solid 1px black;
    position: relative; left: 200px; bottom: 50px;
    background-image: linear-gradient(to right, black, red);
}
.baby-3 {
    border: none;
    width: 200px;
    height: 50px;
    border-right: solid 1px black;
    position: relative; left: 400px; bottom: 100px;
    background-image: linear-gradient(to right, black, red);
}
.baby-4 {
    border: none;
    width: 200px;
    height: 50px;
    border-right: solid 1px black;
    position: relative; left: 600px; bottom: 150px;
    background-image: linear-gradient(to right, black, red);
}
.div-4 a {
    color: red;
    padding: 50px;
    box-sizing: border-box;
    position: relative; top: 15px;
    text-decoration: none;
}
.div-5 {
    border: solid 1px black;
    width: 900px;
    height: 750px;
    margin-left: 643px;
}
.div-6 {
    border: solid 1px black;
    width: 299px;
    height: 50px;
    margin-left: 343px;
    position: relative; bottom: 752px;
    background-image: linear-gradient(to right, black, red);
}
.div-7 {
    border: solid 1px black;
    width: 300px;
    height: 388px;
    margin-left: 343px;
    position: relative; bottom: 752px;
    box-sizing: border-box;
    background-image: linear-gradient(to right, black, red);
}
.baby-5 {
    border: none;
    width: 280px;
    height: 330px;
    margin: auto;
    margin-top: 6px;
    background-image: linear-gradient(to right, red, black);
}
.div-6 a {
    padding: 10px;
    box-sizing: border-box;
    font-size: 17px;
    position: relative; top: 13px;
    color: red;
    text-decoration: none;
}
.div-7 p {
    text-align: center;
    margin-bottom: 70px;
    position: relative; top: 45px;
    font-size: 30px;
    color: white;
    font-weight: bolder;
}
.p-20 {
    position: relative; left: 540px;
    font-size: 30px;
    color: red;
}
.p-19 {
    position: relative; left: 640px;
    font-size: 30px;
    color: red;
}
.div-8 {
    border: solid 1px black;
    width: 1200px;
    height: 40px;
    margin: auto;
    position: relative; top: 25px; right: 1px;
    border-top: none;
    text-align: center;
    box-sizing: border-box;
    padding: 5px;
    background-image: linear-gradient(to right, red, black);
    color: rgb(255, 0, 0)
}
.div-8 a {
    color: red;
}
.email {
    width: 300px;
    height: 30px;
    margin-top: 30px;
    margin-left: 20px;
}
.p-21 {
    position: relative; left: 975px; bottom: 1482px;
    color: red;
    font-weight: bolder;
}
.p-22 {
    position: relative; left: 975px; bottom: 1453px;
    color: red;
    font-weight: bolder;
}
.password {
    width: 200px;
    height: 30px;
    margin-top: 30px;
    margin-left: 20px;
}
.p-23 {
    position: relative; left: 875px; bottom: 1425px;
    color: red;
    font-weight: bolder;
}
.p-24 {
    position: relative; left: 875px; bottom: 1395px;
    color: red;
    font-weight: bolder;
}
.radio-2 {
    margin-top: 30px;
    margin-left: 20px;
}
.radio-3 {
    margin-top: 30px;
    margin-left: 160px;
    position: relative; bottom: 47px;
}
.p-25 {
    position: relative; left: 680px; bottom: 1378px;
    color: red;
    font-weight: bolder;
}
.p-26 {
    position: relative; left: 820px; bottom: 1415px;
    color: red;
    font-weight: bolder;
}
.div-5 select {
    margin-left: 20px;
    height: 30px;
}
.p-27 {
    position: relative; left: 790px; bottom: 1384px;
    color: red;
    font-weight: bolder;
}
.p-28 {
    position: relative; left: 665px; bottom: 1384px;
    color: red;
    font-weight: bolder;
}
.checkbox {
    margin-left: 20px;
    position: relative; top: 40px;
}
.p-29 {
    position: relative; left: 680px; bottom: 1397px;
    color: red;
    font-weight: bolder;
}
.p-30 {
    position: relative; left: 680px; bottom: 1412px;
    color: red;
    font-weight: bolder;
}
.p-31 {
    position: relative; left: 680px; bottom: 1427px;
    color: red;
    font-weight: bolder;
}
.p-32 {
    position: relative; left: 680px; bottom: 1439px;
    color: red;
    font-weight: bolder;
}
.p-33 {
    position: relative; left: 680px; bottom: 1453px;
    color: red;
    font-weight: bolder;
}
.button-3 {
    margin-left: 20px;
    margin-top: 30px;
    position: relative; top: 50px;
}
.btn-3 {
    background-image: linear-gradient(to right, red, black);
    color: white;
    width: 150px;
    height: 30px;
}
.button-3:hover {
    cursor: pointer;
}
.btn-3:hover {
    cursor: pointer;
    color: red;
}
.email-1 {
    width: 300px;
    height: 30px;
    margin-top: 80px;
    margin-left: 20px;
}
.password-1 {
    width: 200px;
    height: 30px;
    margin-top: 40px;
    margin-left: 20px;
}
.p-34 {
    position: relative; left: 980px; bottom: 1432px;
    color: red;
    font-weight: bolder;
}
.p-35 {
    position: relative; left: 880px; bottom: 1392px;
    color: red;
    font-weight: bolder;
}
.button-4 {
    margin-left: 20px;
    margin-top: 20px;
}
.btn-4 {
    width: 150px;
    height: 30px;
    background-image: linear-gradient(to right, red, black);
    color: white;
}
.btn-4:hover {
    color: red;
}
.email-2 {
    width: 300px;
    height: 30px;
    margin-top: 40px;
    margin-left: 20px;
}
.text-1 {
    width: 170px;
    height: 30px;
    margin-top: 40px;
    margin-left: 20px;
}
.textarea-3 {
    margin-top: 40px;
    margin-left: 20px;
    width: 400px;
    height: 400px;
}
.button-5 {
    margin-left: 20px;
    margin-top: 20px;
}
.btn-5 {
    width: 150px;
    height: 30px;
    background-image: linear-gradient(to right, red, black);
    color: white;
}
.btn-5:hover {
    color: red;
}
.p-36 {
    position: relative; left: 977px; bottom: 1472px;
    color: red;
    font-weight: bolder;
}
.p-37 {
    position: relative; left: 845px; bottom: 1433px;
    color: red;
    font-weight: bolder;
}
.p-38 {
    position: relative; left: 1075px; bottom: 1010px;
    color: red;
    font-weight: bolder;
}
.p-39 {
    text-align: left;
    margin-left: 20px;
    color: gray;
}
.image-1 {
    width: 400px;
    height: 300px;
    margin-left: 20px;
}
.p-40 {
    margin-left: 450px;
    position: relative; bottom: 300px;
    color: gray;
}
.p-41 {
    text-align: left;
    margin-left: 20px;
    color: red;
}
.p-42 {
    text-align: left;
    margin-left: 20px;
    color: red;
}
.div-5 {
    background-image: url(/homework/N7/images/image-2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.div-5 li {
    color: red;
}
.div-5-1 {
    border: solid 1px black;
    width: 900px;
    height: 750px;
    margin-left: 643px;
    background-image: url(/homework/N7/images/image-3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.p-43 {
    text-align: left;
    margin-left: 20px;
    color: rgb(4, 174, 204);
}
.image-4 {
    width: 500px;
    height: 300px;
    margin-left: 20px;
    position: relative; bottom: 10px;
}
.div-5-2 {
    border: solid 1px black;
    width: 900px;
    height: 750px;
    margin-left: 643px;
    background-image: url(/homework/N7/images/image-5.PNG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.div-5-2 h2 {
    margin-left: 20px;
}
.p-44 {
    text-align: left;
    margin-left: 20px;
    color: rgb(4, 233, 4);
}
.btn-5 {
    cursor: pointer;
}
.btn-4 {
    cursor: pointer;
}
.div-5-3 {
    border: solid 1px black;
    width: 900px;
    height: 750px;
    margin-left: 643px;
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.div-5-3 h2 {
    margin-left: 20px;
    color: blueviolet;
}
.p-45 {
    text-align: left;
    margin-left: 20px;
    color: rgb(0, 0, 151);
}
.p-46 {
    text-align: left;
    margin-left: 20px;
    color: rgb(0, 0, 151);
}
.div-5-3 img {
    width: 500px;
    height: 300px;
    margin-left: 20px;
}
.div-5-4 {
    border: solid 1px black;
    width: 900px;
    height: 750px;
    margin-left: 643px;
    background-color: skyblue;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.div-5-5 {
    border: solid 1px black;
    width: 900px;
    height: 750px;
    margin-left: 643px;
    background-color: rgb(184, 183, 183);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.div-5-4 h2 {
    margin-left: 20px;
    color: blueviolet;
}
.div-5-4 p {
    text-align: left;
    margin-left: 20px;
    color: blueviolet;
}
.div-5-4 ul li {
    color: blueviolet;
}
.div-5-5 h2 {
    margin-left: 20px;
    color: yellow;
}
.div-5-5 p {
    text-align: left;
    margin-left: 20px;
    color: rgb(99, 99, 5);
}
.div-5-5 img {
    width: 700px;
    height: 400px;
    margin-left: 20px;
}
.div-5-6 {
    border: solid 1px black;
    width: 900px;
    height: 750px;
    margin-left: 643px;
    background-image: linear-gradient(to right, black, red);
}
.div-5-7 {
    border: solid 1px black;
    width: 900px;
    height: 750px;
    margin-left: 643px;
    background-image: linear-gradient(to right, black, red);
}
.div-5-8 {
    border: solid 1px black;
    width: 900px;
    height: 750px;
    margin-left: 643px;
    background-image: linear-gradient(to right, black, red);
}
.div-5-9 {
    border: solid 1px black;
    width: 900px;
    height: 750px;
    margin-left: 643px;
    background-image: linear-gradient(to right, black, red);
}
.div-5-7 select {
    margin-left: 20px;
}
.div-5-6 h2 {
    color: red;
    text-align: center;
}
