body {
    border-color: gray;
}

.photo-2 {
    position: relative; left: 550px; bottom: 250px;
}
.photo-3 {
    position: absolute; bottom: 0;
}
.photo-4 {
    position: relative; left: 600px; bottom: 400px;
}

.photo-5 {
    position: absolute; right: 0px; top: 0;
}

.photo-6 {
    position: absolute; right: 0px;
}