.div-1 {
    border: solid 1px black;
    width: 400px;
    height: 400px;
    margin: auto;
    background-color: rgb(212, 212, 212);
    border-top: none;
    border-right: none;
}
.input-1 {
    box-sizing: border-box;
    padding: 15px;
    border-radius: 10px 10px 10px 10px;
    border: solid 1px gray;
    position: relative; left: 80px; top: 20px;
    width: 250px;
}
.h1-1 {
    position: relative; left: 150px;
}
.button-1 {
    background-color: rgb(243, 89, 28);
    width: 250px;
    height: 50px;
    position: relative; left: 80px; top: 20px;
    border-radius: 10px 10px 10px 10px;
    border: none;
    box-sizing: border-box;
    padding: 20px;
    color: white;
    font: bolder;
}
.a-1 {
    position: relative; left: 100px; top: 100px;
}
