.container {
    border: solid 2px black;
    margin: auto;
    width: 70%;
    box-sizing: border-box;
    padding: 10px;
    min-height: 50px;
    overflow: auto;
}
.container div {
    height: 100px;
    width: 300px;
    background-color: aqua;
    margin: 5px;
    float: left;
    overflow: auto;
}
.container {
    margin-bottom: 5px;
}
.font-1 {
    font-size: 1.5em;
}
.span-1 {
    color: red;
    font-weight: bolder;
    text-decoration: overline;
    /*display: flex;*/
    visibility: hidden;
}
.container-flex {
    border: solid 2px black;
    margin: auto;
    width: 70%;
    box-sizing: border-box;
    /*padding: 10px;*/
    /*min-height: 50px;*/
    /*overflow: auto;*/
    display: flex;
    /*flex-direction: row;*/
    /*flex-wrap: wrap;*/
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: flex-end;
    align-content: space-around;
}
.container-flex div {
    height: 200px;
    width: 150px;
    background-color: aqua;
    /*margin: 5px;*/
    box-sizing: border-box;
    padding: 20px;
    font-size: 2em;
    border: solid 1px red;
}