div {
    border: solid 5px purple;
    width: 400px;
    height: 200px;
    box-sizing: border-box;
}

body {
    border: solid 8px black;
    height: 1800px;
}

.div-1 {
    background-color: gray;
    position: absolute;
    left: 500px;
}

.div-2 {
    background-color: green;
    width: 450px;
    /* position: absolute; */
    position: fixed; top: 120px;

}

.div-3 {
    background-color: aqua;
    position: sticky; top: 90px; left: 500px;
}

.div-4 {
    background-color: yellow;
}

[class*="page-2-div-"] {
    position: absolute;
}

.page-2-div-1{
    background-color: red;
    z-index: 0;
}

.page-2-div-2{
    background-color: antiquewhite;
    left: 100px; top: 50px;
    z-index: 0;
}

.page-2-div-3{
    background-color: aquamarine;
}

.page-3-div-1{
    background-color: red;
    position: relative; left: 200px; top: 50px;
}

.page-3-div-2{
    background-color: antiquewhite;
}

.page-3-div-3{
    background-color: aquamarine;
    height: 350px;
    width: 500px;
    margin: auto;
    position: relative;
}

.box {
    background-color: antiquewhite;
    width: 100px;
    height: 100px;
    border: solid 4px blueviolet;
    position: absolute; bottom: 0px; right: 0px;
}