* > {
    box-sizing: border-box;
}
body {
    margin: 0;
    background-color: gray;
}
.header {
    border: none;
    width: 80%;
    height: 120px;
    margin: auto;
    background-color: purple;
}
.image-1 {
    border: none;
    width: 80%;
    height: 350px;
    position: relative; left: 192px;
}
.background {
    border: none;
    width: 80%;
    height: 1500px;
    background-color: white;
    margin: auto;
    margin-top: -5px;
}
.navigation {
    border: none;
    width: 20%;
    height: 50px;
    background-color: purple;
    position: relative; top: 10px;
}
.left-menu {
    border: none;
    width: 19.7%;
    height: 50px;
    background-color: violet;
    margin-left: 5px;
    border-bottom: solid 1px black;
}
.top-games {
    border: none;
    width: 20%;
    height: 50px;
    background-color: black;
    position: relative; left: 1218px; bottom: 345px;
    border-top-left-radius: 20px;
    border-bottom: solid 1px gray;
}
.right-menu {
    border: none;
    width: 20%;
    height: 60px;
    background-color: black;
    position: relative; left: 1218px; bottom: 345px;
    border-bottom: solid 1px gray;
}
.background-2 {
    border: none;
    width: 59%;
    height: 670px;
    background-color: rgb(177, 100, 164);
    margin: auto;
    position: relative; bottom: 783px;
}
.hr-1 {
    position: relative; top: 60px;
    border: solid 1px white;
}
.vicecity {
    margin-top: -180px;
    width: 35%;
    margin-left: 10px;
}
.vicecity-footer {
    border: none;
    width: 35%;
    height: 25px;
    background-image: linear-gradient(to left, black, gray);
    margin-top: -5px;
    font-weight: bold;
    text-align: center;
    padding: 20px 0px;
    font-size: 20px;
    margin-left: 10px;
    color: red;
}
.p-1 {
    margin-left: 360px;
    position: relative; top: 45px;
}
span {
    color: purple;
    font-size: 20px;
}
.comments {
    border: none;
    background-color: purple;
    width: 20%;
    height: 50px;
    margin-left: 10px;
    border-radius: 20px;
    position: relative; top: 10px;
    text-align: center;
}
.views {
    border: none;
    background-color: purple;
    width: 15%;
    height: 50px;
    margin-left: 200px;
    position: relative; bottom: 40px;
    border-radius: 20px;
    text-align: center;
}
.read-more {
    border: none;
    background-color: pink;
    width: 17%;
    height: 50px;
    margin-left: 735px;
    position: relative; bottom: 90px;
    border-radius: 20px;
    text-align: center;
}
.background-2 a {
    position: relative; top: 15px;
    font-weight: bolder;
    color: rgb(45, 1, 58);
}
.read-more:hover {
    cursor: pointer;
}
.sanandreas {
    margin-top: -200px;
    width: 35%;
    margin-left: 10px;
}
.footer {
    border: none;
    width: 80%;
    height: 120px;
    background-color: purple;
    margin: auto;
    position: absolute; bottom: -1000px;
}
.a-1 {
    position: relative; left: 70px; top: 30px;
    font-weight: bolder;
    color: fuchsia;
    font-size: 30px;
}
.header span {
    color: white;
    position: relative; left: 25px;
}
.navigation a {
    margin-left: 15px;
    font-size: 22px;
    position: relative; top: 11px;
    color: rgb(45, 1, 58);
}
.left-menu a {
    margin-left: 11px;
    font-size: 22px;
    position: relative; top: 11px;
    color: rgb(45, 1, 58);
}
.top-games a {
    margin-left: 15px;
    font-size: 22px;
    position: relative; top: 11px;
    color: white;
}
.right-menu a {
    margin-left: 15px;
    font-size: 22px;
    position: relative; top: 15px;
    color: gray;
}
.left-menu a:hover {
    cursor: pointer;
    color: blueviolet;
}
.right-menu a:hover {
    cursor: pointer;
    color: red;
}
.a-2 {
    font-size: 25px;
    color: white;
    text-decoration: none;
    margin-left: 40px;
    position: relative; left: 900px; top: 5px;
}
.a-2:hover {
    color: fuchsia;
}
.a-3 {
    font-size: 20px;
    color: white;
    text-decoration: none;
    margin-left: 40px;
    position: relative; left: 800px; top: 30px;
}
.a-3:hover {
    color: fuchsia;
}
.a-4 {
    font-size: 20px;
    color: white;
    position: relative; left: 100px; top: 50px;
}
@media screen and (max-width: 600px) {
    .p-1 {
        position: relative; right: 200px;
        line-height: 16px;
    }
    .vicecity {

    }
    .sanandreas {
        position: relative; bottom: 700px;
    }
    body {
        display: grid;
    }
}

.background-2 h1 {

    position: relative; top: 35px; left: 10px;
    color: fuchsia;
}