body {
    width: 1000px;
    margin: auto;
    position: relative; top:200px;
}
.container {
    border: solid 3px gray;
    width: 1000px;
    height: 589px;
    margin: auto;
    color: white;
    font-size: 25px;
}
.header {
    border: none;
    width: 1000px;
    height: 100px;
    background-color: rgb(83, 167, 249);
}
.footer {
    border: none;
    width: 1000px;
    height: 70px;
    background-color: rgb(3, 102, 192);
    position: sticky; top: 600px;
}
.main-content {
    border: none;
    width: 350px;
    height: 240px;
    background-color: rgb(112, 192, 66);
    position: relative; left: 250px;
}
.sidebar {
    border: none;
    width: 170px;
    height: 240px;
    background-color: rgb(179, 107, 226);
    position: relative; left: 253px;
}
.display-flex {
    display: flex;
    margin-top: 3px;
}
.twin-1 {
    border: none;
    width: 260px;
    height: 170px;
    background-color: rgb(243, 144, 27);
    position: relative; left: 250px;
    margin-top: 3px;
}
.twin-2 {
    border: none;
    width: 260px;
    height: 170px;
    background-color: rgb(243, 144, 27);
    margin-top: 3px;
    position: relative; left: 253px;
}
.display-flex-2 {
    display: flex;
}
.a-2{
    position: relative; left: 20px; top: 20px;
    box-sizing: border-box;
}
.a-1 {
    position: relative; left: 20px; top: 30px;
}
.p-1 {
    text-align: center;
    position: relative; top: 80px;
}
.p-2 {
    text-align: center;
    position: relative; top: 50px;
}
.flex-container {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    border-bottom: 1px solid black;
}

.flex-container div {
    background-color: rgb(155, 206, 11);
    color: white;
    margin: 10px;
    text-align: center;
    line-height: 60px;
    font-size: 30px;
}
.div-1-child-1 {
    flex: 1 1 80%;
}
.div-1-child-2 {
    flex: 1 1 47%;
}
.div-1-child-3 {
    flex: 1 1 30%;
}
.div-1-child-4 {
    flex: 1 1 20%;
}
.div-1-child-5 {
    flex: 1 1 14%;
}
.div-1-child-6 {
    flex: 1 1 3%;
}
.flex-container-2 {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    border-bottom: 1px solid black;
}

.flex-container-2 div {
    background-color: rgb(155, 206, 11);
    color: white;
    margin: 10px;
    text-align: center;
    line-height: 60px;
    font-size: 30px;
}    
.flex-container-3 {
    border: solid 7px black;
    width: 700px;
    height: 325px;
    margin: auto;
    background-color: gray;
}
.d-1 {
    width: 160px;
    flex: 0 1 19%;
    background-color: rgb(255, 204, 204)
}
.d-2 {
    width: 160px;
    flex: 0 1 16%;
    background-color: rgb(204, 255, 204);

}
.d-3 {
    width: 160px;
    flex: 0 1 35%;
    background-color: rgb(204, 204, 255);
}

.flex-container-3-child-1 div {
    height: 60px;
    margin: 2px;
}
.flex-container-3-child-1 {
    display: flex;
}
.d-5 {
    width: 160px;
    flex: 0 1 19%;
    background-color: rgb(255, 204, 204);
}
.d-6 {
    width: 160px;
    flex: 0 1 16%;
    background-color: rgb(204, 255, 204);
}
.d-7 {
    width: 160px;
    flex: 0 1 35%;
    background-color: rgb(204, 204, 255);
}
.flex-container-3-child-2 div {
    height: 60px;
    margin: 2px;
}
.flex-container-3-child-2 {
    display: flex;
    justify-content: flex-end;
    border-top: solid 2px white;
}
.d-8 {
    width: 160px;
    flex: 0 1 19%;
    background-color: rgb(255, 204, 204);
}
.d-9 {
    width: 160px;
    flex: 0 1 16%;
    background-color: rgb(204, 255, 204);
}
.d-10 {
    width: 160px;
    flex: 0 1 35%;
    background-color: rgb(204, 204, 255);
}
.flex-container-3-child-3 div {
    height: 60px;
    margin: 2px;
}
.flex-container-3-child-3 {
    display: flex;
    justify-content: center;
    border-top: solid 2px white;
}
.d-11 {
    width: 160px;
    flex: 0 1 19%;
    background-color: rgb(255, 204, 204);
}
.d-12 {
    width: 160px;
    flex: 0 1 16%;
    background-color: rgb(204, 255, 204);
}
.d-13 {
    width: 160px;
    flex: 0 1 35%;
    background-color: rgb(204, 204, 255);
}
.flex-container-3-child-4 div {
    height: 60px;
    margin: 2px;
}
.flex-container-3-child-4 {
    display: flex;
    justify-content: space-between;
    border-top: solid 2px white;
}
.d-14 {
    width: 160px;
    flex: 0 1 19%;  
    background-color: rgb(255, 204, 204);
}
.d-15 {
    width: 160px;
    flex: 0 1 16%;
    background-color: rgb(204, 255, 204);
}
.d-16 {
    width: 160px;
    flex: 0 1 35%;
    background-color: rgb(204, 204, 255);
}
.flex-container-3-child-5 div {
    height: 60px;
    margin: 2px;
}
.flex-container-3-child-5 {
    display: flex;
    justify-content: space-around;
    border-top: solid 2px white;
}
h1 {
    text-align: center;
    font-size: 40px;
}
.h1-1 {
    position: relative; bottom: 350px;
}
.h1-2 {
    position: relative; bottom: 356px;
}
.h1-3 {
    position: relative; bottom: 365px;
}
.h1-4 {
    position: relative; bottom: 375px;
}
.h1-5 {
    position: relative; bottom: 385px;
}
.flex-container-4 {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    background: transparent;
}
.flex-container-4 div {
    background-color: rgb(204, 193, 193);
    color: gray;
    margin: 10px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    border-radius: 10px;
    border: solid 1px gray;
}
.dd-1 {
    flex: 1 1 30%;
}
.dd-2 {
    flex: 1 1 45%;
}
.dd-3 {
    flex: 1 1 20%;
}
.dd-4 {
    flex: 1 1 13%;
}
.dd-5 {
    flex: 1 1 45%;
}
