div {
    border: dashed 2px gray;
    height: 500px;
    width: 800px;
    background-color: rgb(206, 198, 198);
}
.child {
    border: solid 60px yellow;
    margin: 20px;
    margin-left: 50px;
    height: 400px;
    width: 700px;
    box-sizing: border-box;
    background-color: rgb(206, 198, 198);
}   
.child-2 {
    border: dashed 2px gray;
    margin: 70px;
    margin-top: 60px;
    height: 120px;
    width: 450px;
    box-sizing: border-box;
    background-color: white;
}
.text-1 {
    text-align: center;
    font-size: 20px;
}
.text-3 {
    text-align: center;
    font-size: 20px;
}
.text-4 {
    text-align: center;
    font-size: 20px;
}
.text-2 {
    text-align: center;
    font-size: 20px;
    position: relative; bottom: 400px;
}
.div-2 {
    border: solid 2px rgb(6, 111, 197);
    height: 500px;
    width: 800px;
    background-color: rgb(84, 189, 238);
}
.child-3 {
    border: solid 60px rgb(26, 101, 187);
    margin: 20px;
    margin-left: 50px;
    height: 400px;
    width: 700px;
    box-sizing: border-box;
    background-color: rgb(152, 200, 219);
    position: relative; bottom: 50px;
}
.child-4 {
    border: solid 2px rgb(6, 111, 197);
    margin: 70px;
    margin-top: 60px;
    margin-left: 130px;
    height: 120px;
    width: 300px;
    box-sizing: border-box;
    background-color: white;
    position: relative; bottom: 65px;
}
.text-5 {
    text-align: center;
    font-size: 20px;
}
.text-6 {
    text-align: center;
    font-size: 20px;
    position: relative; bottom: 2px;
}
.text-7 {
    text-align: center;
    font-size: 40px;
}
.text-8 {
    text-align: center;
    font-size: 20px;
    position: relative; bottom: 450px;
}
.text-9 {
    text-align: center;
    font-size: 20px;
    position: relative; top: 400px;
    
}
.text-10 {
    text-align: center;
    font-size: 20px;
    position: relative; top: 170px;
}
.text-11 {
    text-align: center;
    font-size: 20px;
    position: relative; bottom: 150px;
}
.div-3 {
    border: solid 1px white;
    height: 200px;
    background-color: green;
}
.text-12 {
    font-size: 50px;
    position: relative; left: 30px;
    color: white;
}
.div-4 {
    border: solid 1px rgb(0, 153, 255);
    height: 50px;
    width: 200px;
    background-color: rgb(0, 153, 255);
    margin: 20px;
}
.div-5 {
    border: solid 1px rgb(0, 153, 255);
    height: 50px;
    width: 200px;
    background-color: rgb(0, 153, 255);
    margin: 20px;
}
.div-6 {
    border: solid 1px rgb(0, 153, 255);
    height: 50px;
    width: 200px;
    background-color: rgb(0, 153, 255);
    margin: 20px;
}
.div-7 {
    border: solid 1px rgb(0, 153, 255);
    height: 50px;
    width: 200px;
    background-color: rgb(0, 153, 255);
    margin: 20px;
}
.div-8 {
    border: solid 1px rgb(0, 153, 255);
    height: 50px;
    width: 200px;
    background-color: rgb(0, 153, 255);
    margin: 20px;
}
.text-13 {
    color: white;
    position: relative; left: 10px;
}
.text-14 {
    color: white;
    position: relative; left: 10px;
}
.text-15 {
    color: white;
    position: relative; left: 10px;
}
.text-16 {
    color: white;
    position: relative; left: 10px;
}
.text-17 {
    color: white;
    position: relative; left: 10px;
}
.div-9 {
    border: solid 1px white;
    height: 100px;
    background-color: green;
}
.text-18 {
    color: white;
    position: relative; left: 270px; top: 15px;
    font-size: 21px;
}
h1 {
    position: relative; bottom: 450px; left: 250px;
}
.text-19 {
    position: relative; bottom: 500px; left: 215px;
    padding: 40px;
}