* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    margin: 0;
  }
.header {
    padding: 60px;
    text-align: center;
    background: #1abc9c;
    color: white;
    width: 80%;
    margin: auto;
  }
  .navbar {
    /*display: flex;*/
    background-color: #333;
    width: 80%;
    margin: auto;
  }
  .navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
  }
.navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  .row {  
    display: flex;
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    width: 80%;
    margin: auto;
  }
  .side {
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
  }
  .main {
    flex: 70%;
    background-color: white;
    padding: 20px;
  }
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    width: 80%;
    margin: auto;
  }
  @media screen and (max-width: 700px) {
    .row, .navbar  {   
      flex-direction: column;
    }
    .navbar a {
        display: block;
    }
  }