.figura-1 {
    margin-top: 10px;
    margin-left: 30px;
    border: solid 4px rgb(255, 168, 6);
    width: 170px;
    height: 150px;
    background-color: rgb(129, 1, 127);
}
.figura-2 {
    margin-left: 270px;
    position: relative; bottom: 155px;
    border: solid 4px rgb(255, 168, 6);
    width: 180px;
    height: 150px;  
    background-color: rgb(129, 1, 127);
    border-radius: 60px 60px 60px 60px;
}
.figura-3 {
    margin-left: 500px;
    position: relative; bottom: 310px;
    border: solid 4px rgb(255, 168, 6);
    width: 180px;
    height: 150px;  
    background-color: rgb(129, 1, 127);
    border-radius: 50%
}
.figura-4 {
    margin-left: 730px;
    position: relative; bottom: 470px;
    border: solid 4px rgb(255, 168, 6);
    width: 180px;
    height: 150px;  
    background-color: rgb(129, 1, 127);
    border-radius: 30px 1px 30px 1px;
}
.figura-5 {
    margin-left: 30px;
    position: relative; bottom: 430px;
    border: solid 4px rgb(255, 168, 6);
    width: 170px;
    height: 150px;  
    background-color: rgb(129, 1, 127);
    border-radius: 300px 1px 1px 1px;
}
.figura-6 {
    margin-left: 280px;
    position: relative; bottom: 585px;
    border: solid 4px rgb(255, 168, 6);
    width: 170px;
    height: 150px;  
    background-color: rgb(129, 1, 127);
    border-radius: 50px 50px 50px 50px;
}
.figura-7 {
    margin-left: 520px;
    position: relative; bottom: 750px;
    border: solid 4px rgb(255, 168, 6);
    width: 150px;
    height: 150px;  
    background-color: rgb(129, 1, 127);
    border-radius: 500px 1px 500px 1px;
}
.figura-8 {
    margin-left: 750px;
    position: relative; bottom: 910px;
    border: solid 4px rgb(255, 168, 6);
    width: 170px;
    height: 150px;  
    background-color: rgb(129, 1, 127);
    border-radius: 200px 200px 1px 1px;
}
.box {
    border: solid 2px black;
    width: 950px;
    height: 380px;
    margin: auto;
}
.figura-9 {
    margin-left: 120px;
    margin-top: 30px;
    border: solid 3px red;
    width: 300px;
    height: 200px;
    border-radius: 50px 50px 50px 50px;
    background-color: rgb(79, 186, 116);
}
.figura-9-1 {
    border: solid 1px rgb(36, 61, 116);
    width: 250px;
    height: 150px;
    border-radius: 1px 1px 1px 1px;
    background-color: rgb(53, 89, 152);
    margin: auto;
    position: relative; top: 20px;
}
.figura-10 {
    margin-left: 120px;
    position: relative; left: 350px; bottom: 203px;
    border: solid 3px red;
    width: 300px;
    height: 200px;
    border-radius: 60px 30px 60px 30px;
    background-color: rgb(79, 186, 116);
}
.figura-10-1 {
    border: solid 1px rgb(36, 61, 116);
    width: 250px;
    height: 150px;
    border-radius: 1px 1px 1px 1px;
    background-color: rgb(198, 124, 0);
    margin: auto;
    position: relative; top: 20px; right: 8px
}
.figura-11 {
    margin-left: 120px;
    margin-top: 30px;
    position: relative; right: 1px; bottom: 203px;
    border: solid 3px red;
    width: 300px;
    height: 200px;
    border-radius: 30px 70px 30px 70px;
    background-color: rgb(0, 198, 198);
}
.figura-11-1 {
    border: solid 1px rgb(36, 61, 116);
    width: 250px;
    height: 150px;
    border-radius: 1px 1px 1px 1px;
    background-color: rgb(53, 89, 152);
    margin: auto;
    position: relative; top: 20px; right: 8px
}
.figura-12 {
    margin-left: 120px;
    margin-top: 30px;
    position: relative; left: 820px; bottom: 300px;
    border: solid 3px red;
    width: 300px;
    height: 200px;
    border-radius: 1px 20px 200px 80px;
    background-color: rgb(123, 168, 179);
}
.figura-12-1 {
    border: solid 1px rgb(36, 61, 116);
    width: 230px;
    height: 120px;
    border-radius: 1px 1px 1px 1px;
    background-color: rgb(53, 89, 152);
    margin: auto;
    position: relative; top: 20px; right: 20px
}
.box-2 {
    border: solid 1px black;
    width: 950px;
    height: 550px;
    margin: auto;
    background-color: rgb(198, 198, 198);
}