div {
    width: 700px;
    min-height: 200px;
    border: solid 1px black;
}

.div-2 {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    height: 130px;
    text-align: justify;
    padding-top: 20px;
    padding-left: 30px;
    padding: 30px;
}

body {
    border: solid 2px red;
}

.div-1 {
    margin-top: 20px;
    margin-left: 30px;
}

.child-1 {
    width: 200px;
    min-height: 70px;
    background-color: red;
    border: solid 5px gray;
}